body {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon', sans-serif;
}
.header {
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    background: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.left nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.left nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
}
.center input {
    width: 400px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
}
.songs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}
.song {
    padding: 5px;
    border: 1px solid;
    margin: 20px;
    width: 300px;
    box-shadow: 3px 8px 7px 0px #0000004f;
}

.logo a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.logo img {
    width: 40px;
}
.footer {
    height: 40px;
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    line-height: 40px;
}
.saveit {
    background: no-repeat;
    border: none;
    font-size: 24px;
}
.todo-list button {
    margin: 0px 5px;
    background: red;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
}
.todo-list button:first-child {
    background: green;
}
.PageSongs {
    min-height: 80vh;
}

.PageSongs form {
    text-align: center;
}
.todoit{
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
}


.todo-list li {
    line-height: 24px;
    font-size: 20px;
}